<app-list></app-list>

<mat-card class="mt-5">
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>ListComponent</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
      <code [languages]="['ts']" [highlight]="listComponentTs">
      </code>
    </pre>
    <pre>
      <code [languages]="['html']" [highlight]="listComponentHtml">
      </code>
    </pre>
  </mat-expansion-panel>
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>ItemListComponent</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
      <code [languages]="['ts']" [highlight]="itemListComponentTs">
      </code>
    </pre>
    <pre>
      <code [languages]="['html']" [highlight]="itemListComponentHtml">
      </code>
    </pre>
  </mat-expansion-panel>
  <div appBoldNumber>
    Historia matematyki jest prawdopodobnie równie stara jak ludzkość. Przetrwały pewne ślady, zarówno w znaleziskach paleontologów, jak i w języku, które wskazują, że proste obliczenia wykorzystywali prehistoryczni myśliwi, kobiety przewidujące datę miesiączki czy wodzowie plemienni szacujący bojową siłę swoich ludzi.
    Najstarszymi znanymi tekstami matematycznymi są Plimpton 322 (Babilonia ok. 1900 p.n.e.), papirus moskiewski (Egipt ok. 1850 p.n.e.), papirus Rhinda (Egipt, 1650 p.n.e.), Shulba Sutras (Indie ok. 800 p.n.e.). Wszystkie te teksty wspominają twierdzenie Pitagorasa, które wydaje się najbardziej rozpowszechnionym w starożytności wynikiem matematycznym.
    Matematyka egipska i sumeryjska była dalej rozwijana przez Greków, którzy ponadto usystematyzowali niezależne dotąd twierdzenia w jeden spójny system[1]. Dalszy rozwój matematyka zawdzięcza Arabom. Wiele greckich i arabskich prac matematycznych następnie przetłumaczono na łacinę, co pozwoliło na dalszy rozwój tych koncepcji w średniowiecznej Europie.
    Co ciekawe, historia starożytnej i średniowiecznej matematyki składa się z okresów gwałtownego postępu, oddzielonych całymi stuleciami stagnacji. Schemat ten zakończył się dopiero w okresie renesansu. Era nieprzerwanego rozwoju matematyki, rozpoczęta w XVI-wiecznych Włoszech, trwa po dziś dzień.
  </div>
</mat-card>
