<mat-card>
  @HostListener umożliwia podpięcie pod zdarzenie związane z komponentem własnej funkcji, która przy każdorazowym
  wywołaniu zdarzenia zostanie uruchomiona.
</mat-card>

<mat-card class="mt-5">
  <pre>
    <code [languages]="['typescript']" [highlight]="tsP1">
    </code>
  </pre>
</mat-card>
<div class="d-block mt-5">
  <div class="description">
    Poniżej znajduje ikonka wyświetlana w komponencie IcoComponent. W komponencie za pomocą dekoratora @HostListener
    podpinamy sie pod takie eventy jak: click, mouseover, mouseleave, mouseup, mousedown.
  </div>
  <div class="w-100 d-flex" style="justify-content: center;">
    <app-ico></app-ico>
  </div>
</div>
<mat-card class="mt-5">
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Kod</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
    <code [languages]="['typescript']" [highlight]="tsP2">
    </code>
  </pre>
  </mat-expansion-panel>
</mat-card>
