
mat-list-item button {
  width: 100%;
}

:host ::ng-deep {
  mat-sidenav-container mat-sidenav-content {
    padding: 20px;
  }

  .mat-subheader {
    font-size: 15px;
    font-weight: bolder;
    background: #5f6769;
    color: white !important;
    text-shadow: 1px 1px 1px black;
  }
}

.example-toolbar {
  height: 5%;
  min-height: 40px;
}

.example-container {
  height: 95%;
}

mat-toolbar {
  background: #3c4245;
}
