
mat-list-item button {
  width: 100%;
}

:host ::ng-deep {
  mat-sidenav-container mat-sidenav-content {
    padding: 20px;
  }

  .mat-subheader {
    font-size: 15px;
    font-weight: bolder;
    background: grey;
    color: white !important;
    text-shadow: 1px 1px 1px black;
  }
}
