<mat-card>
  Interfejsy w Angularze umożliwiają wprowadzenie kontroli typów. Każdy interfejs może zawierać jedynie pola wraz z
  opcjonalnym opisem
  ich typów.
</mat-card>

<mat-card class="mt-5">
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Przykład 1:</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
      <code [languages]="['typescript']" [highlight]="tsP1">
      </code>
    </pre>
  </mat-expansion-panel>
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Przykład 2:</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
      <code [languages]="['typescript']" [highlight]="tsP1a">
      </code>
    </pre>
  </mat-expansion-panel>
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Przykład 3:</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
      <code [languages]="['typescript']" [highlight]="tsP1b">
      </code>
    </pre>
  </mat-expansion-panel>
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Przykład 4:</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
      <code [languages]="['typescript']" [highlight]="tsP1c">
      </code>
    </pre>
  </mat-expansion-panel>
  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Przykład 5:</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">Przykład prezentuje interfejs który ma dwa obowiązkowe pola id i name oraz może przyjmować
      dowolną ilość pól typu any.
    </div>
    <pre>
      <code [languages]="['typescript']" [highlight]="tsP1d">
      </code>
    </pre>
  </mat-expansion-panel>
</mat-card>
